networks:
  roiraima_prod_network:
    driver: bridge

volumes:
  storage_data:  

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        RUBY_VERSION: 3.2.2
    
    container_name: roiraima_web_prod
    ports:
      - "127.0.0.1:3000:3000"

    env_file:
      - ./.env.production
    environment:
      RAILS_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_HOST: ${RAILS_HOST}
      PROTOCOL: ${PROTOCOL}
      RAILS_MASTER_KEY: ${SECRET_KEY_BASE}
    
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/up"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    restart: always
    

    volumes:
      - storage_data:/rails/storage
      - storage_data:/rails/log
    
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
        labels: "service=roiraima_web"
    
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1.5G
        reservations:
          cpus: '0.75'
          memory: 768M
    
    networks:
      - roiraima_prod_network
    depends_on: []

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
      args:
        RUBY_VERSION: 3.2.2
    
    container_name: roiraima_sidekiq_prod
    command: >
      bundle exec sidekiq 
      -C config/sidekiq.yml 
      -c ${SIDEKIQ_CONCURRENCY:-5}
      -v
    

    env_file:
      - ./.env.production
    
    environment:
      RAILS_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
      AWS_REGION: ${AWS_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_S3_BUCKET: ${AWS_S3_BUCKET}
      SECRET_KEY_BASE: ${SECRET_KEY_BASE}
      RAILS_MASTER_KEY: ${SECRET_KEY_BASE}
    
    restart: always
    
    volumes:
      - storage_data:/rails/storage
      - storage_data:/rails/log
    
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
        labels: "service=roiraima_sidekiq"
    
    deploy:
      resources:
        limits:
          cpus: '1.5'
          memory: 1.5G
        reservations:
          cpus: '1'
          memory: 1G
    
    networks:
      - roiraima_prod_network
    
    depends_on: []
